.button {
    background-color: #F32D4C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

body {
    background: #f57e39;
    display: flex;
    justify-content: center;
}

.changer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

select {
    height: 40px;
    width: 200px;
    background: rgb(92, 248, 30);
    border: none;
    border-radius: 10px;
    font: 1.2em "Fira Sans", sans-serif;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.stroka {
    display: flex;
    flex-wrap: wrap
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disp {
    font-size: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r {
    background: red;
    border-radius: 20px;
}

.g {
    background: green;
    border-radius: 20px;
}

.b {
    background: blue;
    border-radius: 20px;
}

.changeRelatives {
    display:flex;
    justify-content: center;
    align-items: center;
}

.label {
    font: 1.2em "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 0;
    width: 200px;
    height: 60px;
    justify-items: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 40px;
}

.allSquares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
}

.squares {
    display: flex;
    flex-direction: row-reverse;
    background: #00d8ae;
}

.mainSquare {
    margin: 0px;
    display: flex;
    height: 40px;
    width: 40px;
    margin: 2px;
    background: rgb(44, 105, 25);
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.pole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colBut1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    display: flex;
    height: 35px;
    width: 35px;
    visibility: hidden;
    background: rgb(0, 128, 0);
}
